
  <div class="collapsible-body col l12">
      <div class="col l6">
          <span><h5><%= locals[:name] %></h5></span>
      </div>
      <div class="col l6">
        <input disabled type="range" id="test5" min="0" max="100" value="<%= (locals[:value] * 100) %>" />
      </div>
  </div>
