<div id=video>
<h1>BUCKET LIST</h1>
<a href="/users/new" class="waves-effect waves-light btn-large">Get Started</a>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et tristique tortor, in porttitor mi. Phasellus at odio at nulla volutpat sollicitudin eu eget neque. Ut vehicula laoreet maximus. Sed et turpis vel dolor sollicitudin ullamcorper sagittis vehicula lectus. Sed ac nisl consequat, dapibus diam ut, lobortis odio. Aliquam interdum in nisl vitae accumsan. Quisque tincidunt pellentesque lacus interdum commodo. Cras id consequat felis. Integer nisl libero, imperdiet quis metus sit amet, malesuada semper odio. Aenean volutpat volutpat metus, eget eleifend dui interdum vitae. Ut porttitor eros a nunc vulputate pulvinar. Nullam tempus quis enim a ornare. Phasellus pulvinar, diam eget egestas congue, quam ipsum dapibus turpis, quis tempus tellus augue a ex. Nam ultricies, dui a accumsan elementum, odio nisl eleifend est, et tempor eros sem in erat. Suspendisse rutrum arcu sit amet nibh lacinia, eget faucibus neque pulvinar. Mauris rhoncus nunc est, in laoreet diam sagittis sed. Nulla facilisi. Etiam bibendum et velit nec gravida. In porta purus in nisl pulvinar pretium. Vestibulum accumsan luctus erat, ut imperdiet neque pulvinar non. Donec fringilla tempor nulla. Ut aliquam, libero non vestibulum gravida, dui justo consectetur augue, eget dictum ipsum nunc sed felis. Sed suscipit tincidunt posuere. Etiam pulvinar, nibh quis interdum placerat, orci justo tincidunt nisi, sed pharetra velit felis ut justo. Suspendisse tempor tellus nec eleifend pretium. Aliquam non purus odio. Vestibulum enim tellus, sagittis ut sollicitudin ut, eleifend vitae urna.
</p>
