</div>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center">BUCKET LIST</h1>
      <div class="row center">
        <h5 class="header col s12 light">A Watson App</h5>
      </div>
      <div class="row center">
        <a href="/users/new" class="waves-effect waves-light btn-large">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">What is Bucketlist?</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt justo eget ante rutrum, sed porttitor leo vestibulum. Nulla ut sodales lacus, scelerisque luctus risus. Integer consectetur elit in erat pellentesque, euismod feugiat arcu faucibus. Ut quis lobortis nisl, id euismod nunc.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Watson</h5>

          <p class="light">Nunc consectetur, lectus nec pellentesque tristique, dolor nibh euismod felis, nec placerat nisl odio at quam. Aliquam sit amet est at tortor porta suscipit sit amet sit amet orci. Fusce interdum leo vel rhoncus venenatis. Nam non risus sit amet turpis egestas placerat sed eget leo. Morbi euismod tortor et convallis gravida..</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">About Our Team</h5>

          <p class="light">Aliquam sit amet est at tortor porta suscipit sit amet sit amet orci. Fusce interdum leo vel rhoncus venenatis. Nam non risus sit amet turpis egestas placerat sed eget leo. Morbi euismod tortor et convallis gravida.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="section">


  </div>
</div>


<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
