<section  class="page no-padding">
		<div class="container">
		<div class="row">
			<h4 class="center-align base-vertical-margin">Meet the team</h4>

      <div class="col s12 m12 l12 center-align margin-bottom-20">
				<img src="http://localhost:3000/olivia.png" class="circle responsive-img"  alt="image description">
				<p class="team-name"><strong>Olivia Coffaro</strong></p>
			</div>

			<div class="col s12 m12 l6 center-align margin-bottom-20">
				<img src="http://localhost:3000/derek.jpg" class="circle responsive-img"  alt="image description">
				<p class="team-name"><strong>Derek Yang</strong></p>
			</div>

			<div class="col s12 m12 l6 center-align margin-bottom-20">
				<img src="http://localhost:3000/jesusmar.png" class="circle responsive-img"  alt="image description">
				<p class="team-name"><strong>Jesusmar Lima</strong></p>
			</div>


		</div>
	</div>
</section>
