
<section  class="page no-padding">
		<div class="container">
		<div class="row">
			<h4 class="center-align base-vertical-margin">Meet the team</h4>
			<div class="carousel">
				<div class="carousel-item" href="#one!">
					<%=image_tag('olivia.png', class:"circle responsive-img")%>
					<div class="center">
						<span class="team-name"><strong>Olivia Coffaro</strong></span><br>
						<span class="team-github"><strong>Github <a href="http://github.com/oliviacoffaro">@oliviacoffaro</a></strong></span><br>
					</div>
				</div>
				<div class="carousel-item" href="#two!">
					<%=image_tag('derek.jpg', class:"circle responsive-img")%>
					<div class="center">
						<span class="team-name"><strong>Derek Yang</strong></span><br>
						<span class="team-github"><strong>Github <a href="http://github.com/tofumaker">@tofumaker</a></strong></span><br>
					</div>
				</div>
				<div class="carousel-item" href="#three!">
					<%=image_tag('jesusmar.png', class:"circle responsive-img")%>
					<div class="center">
						<span class="team-name"><strong>Jesusmar Lima</strong></span><br>
						<span class="team-github"><strong>Github <a href="http://github.com/jesusmarlima">@jesusmarlima</a></strong></span><br>
					</div>
				</div>
			</div>
	</div>
</section>
