<section  class="page no-padding">
		<div class="container">
		<div class="row">
			<h4 class="center-align base-vertical-margin">Meet the team</h4>

      <div class="col s12 m12 l12 center-align margin-bottom-20">
				<%=image_tag('olivia.png', class:"circle responsive-img") %>
				<p class="team-name"><strong>Olivia Coffaro</strong></p>
			</div>

			<div class="col s12 m12 l6 center-align margin-bottom-20">
				<%=image_tag('derek.jpg', class:"circle responsive-img") %>
				<p class="team-name"><strong>Derek Yang</strong></p>
			</div>

			<div class="col s12 m12 l6 center-align margin-bottom-20">
				<%=image_tag('jesusmar.png', class:"circle responsive-img") %>
				<p class="team-name"><strong>Jesusmar Lima</strong></p>
			</div>


		</div>
	</div>
</section>
