@import "materialize";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#modal2{
  color: #242a33;
}
#modal1{
  color: #4a5a70;
}

.parallax-container{

}
.parallax{
  background-color: #455a64;
}
body{
  background-color: #323d4c;
  color: white;
}

#share_ul{
  border: none;
}

h1{
  color: white;
}

.nav-wrapper{
  background-color: #242a33;
}

.btn{
  background-color: #58c100;
}
.btn:hover{
  background-color: #58c100;
}

 .input-field input[type=text]:focus {
     border-bottom: 1px solid #58c100;
     box-shadow: 0 1px 0 0 #58c100;
  }

  .input-field input[type=password]:focus {
     border-bottom: 1px solid #58c100;
     box-shadow: 0 1px 0 0 #58c100;
  }


  .input-field input[type=textarea]:focus {
     border-bottom: 1px solid #58c100;
     box-shadow: 0 1px 0 0 #58c100;
  }

  #text_to_analize:focus{
     border-bottom: 1px solid #76ff03;
     box-shadow: 0 1px 0 0 #76ff03;

  }

  .past_text:focus{
    color: #76ff03;
  }


html {
  font-family: 'Electrolize', sans-serif;
  // font-family: 'Aldrich', sans-serif;
  // font-family: 'Molengo', sans-serif;
}
p{
  font-family: sans-serif;
}

.material-icons{
  font-size: 50px;
}

.session{
  width: 300px;
  margin: auto;
}

.down{
  background-color: pink;
}

.circle{
  width: 30%;
}

.main{
  font-size: 80px;
}

.material-icons{
  color: #58c100;
}


#slider{
  width: 50%;
  margin: auto;
}


.log{
  color: #323d4c;
}

#typeicon{

}

#add_alert{
  color: white;
}

#login{
  color: #323d4c;
}
.thumb{
  background-color: #58c100 !important;
}

.active{
  background-color: #58c100 !important;
}
