@import "materialize";

.parallaxx{
background-color: blue;
}
.parallax{
  background-color: #455a64;
}
body{
  background-color: #323d4c;
  color: white;
  font-family: 'Rajdhani', sans-serif;
}

.nav-wrapper{
  background-color: #242a33;
}

.btn{
  background-color: #4caf50;
}

html {
  font-family: 'Aldrich', sans-serif;
}
