<div class="activities">
  <%= render 'activity', locals:{activity: @activity} %>
</div>


<div id="slider">
  <form action="#">
    <p class="thumb range-field">
    <input type="range" id="test5" min="0.0" max="500.0" />
    </p>
  </form>
</div>
<p id="lessadventure">
  Less Adventure
</p>
<p id="moreadventure">
  More Adventure
</p>
