<h1>TESTINGasd!</h1>
<div class="activities">
  <%= render 'activity', locals:{activity: @activity} %>
</div>


  <form action="#">
    <p class="thumb range-field">
      <input type="range" id="test5" min="0.0" max="500.0" />
    </p>
  </form>
