<h1>look that beautiful activity</h1>

<div class="">
  <p><%= @activity.title %></p>
</div>

<div class="">
  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></a>
  <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">thumb_up</i></a>
</div>
